.thediv {
  text-align: center;
}

.section {
  width: 100%;
  margin-bottom: 250px;
}

.maindiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1300px;
  margin: auto;
  padding-right: 100px;
}

.h1 {
  font-size: 50px;
  font-weight: 700;
  color: #2b2a29;
  margin: 30px 0;
}

.img {
  width: 100%;
  height: 300px;  /* Fixed height */
  object-fit: cover;  /* Ensure image doesn't stretch */
}

.cardTitle {
  font-size: 24px;
  font-weight: bold;
  color: #2b2a29;
  margin-bottom: 10px;
}

.span1 {
  color: #fd7e14;
  font-size: larger;
}
.span2 {
  color: #2b2a29;
  font-size: larger;
}

.card {
  padding: 30px;
  background-color: #fff;
  text-align: center;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 525px;  /* Fixed height to avoid shrinking */
  min-width: 250px;  /* Ensure it doesn't shrink smaller than this */
  width: 100%;  /* Ensure it takes up full width of container but doesn't shrink */
  max-width: 300px;  /* Optional: Prevent stretching beyond this width */
  cursor: pointer;
  box-sizing: border-box;  /* Ensures padding doesn't affect overall width/height */
  transition: .6s;

}

.card:hover{
  transform: scale(1.1);
}


.adiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.a1 {
  color: #fd7e14;
  transition: 0.6s;
  font-weight: 600;
  font-size: 19px;
}

.adiv2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 90px;
}

.a1:hover {
  color: #2b2a29;
}

.a2 {
  color: #2b2a29;
  transition: 0.6s;
  font-weight: 600;
  font-size: 19px;
}

.a2:hover {
  color: #fd7e14;
}

.otherdiv {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
}

.adivelectro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 92px;
}

.li {
  color: #f1f1f1;
  transition: .6s;
}

.li:hover{
    color: #fd7e14;
}

.sectionBlack {
  background-color: #252525;
  width: 100%;
  padding: 50px 0;
}

.h1B {
  font-size: 50px;
  color: #f1f1f1;
  font-weight: 800;
  letter-spacing: 1.4px;
  margin: 10px;
}

.inputdiv {
  width: 40%;
  border-bottom: 3px solid #f1f1f1;
  margin: auto;
  padding: 10px;
}

.inputdiv > input {
  background: none;
  width: 80%;
  color: #f1f1f1;
  padding: 5px;
  font-weight: 600;
  font-size:19px;
}

.inputdiv > input::placeholder {
  color: #f1f1f1;
  font-weight: 600;
  font-size: 19px;
}

.inputdiv > input:focus{
    outline: none;
    border: none;
}

.inputdiv > button{
    color: #fd7e14;
    font-size: 19;
    font-weight: 500;
    transition: .6s;
}

.inputdiv > a:hover{
    color: #f1f1f1;
}

.sectionBlack > div > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: auto;
    margin: 20px;
    font-size: 1.2rem;
}

.sectionBlack > div >p{
    color: #f1f1f1;
    margin-bottom: 10px;
}

.icons{
  display: block;
  
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 250px;
}

.icon{
  font-size: 70px;
  color: #f1f1f1;
  background-color: #2b2a29;
  padding: 20px;
  cursor: pointer;
  transition: .6s;
  border-radius: 5px;
}

.icon:hover{
  background-color: #fd7e14;
}
