.thediv {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.thediv::after {
  content: "";
  position: absolute;
  background-image: url(/addBack.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(2px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.motherdiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 10px;
  background-color: #f1f1f1;
  width: 600px;
}

.h1 {
  font-size: 40px;
  font-weight: 600;
  margin: 10px 10px 80px 90px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.inpbox {
  margin: 10px 5px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
}

.inpbox > label {
  font-size: 16px;
  margin-bottom: 7px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inpbox > input {
  outline: none;
  padding: 7px 12px;
  border: 1px solid #fcc737;
  border-radius: 10px;
  transition: 0.7s;
}

.inpbox > input:focus {
  padding: 10px 15px;
  border: 1px solid #f26b0f;
}

.inpbox > textarea {
  outline: none;
  padding: 7px 12px;
  border: 1px solid #fcc737;
  border-radius: 10px;
  transition: 0.7s;
}

.inpbox > textarea:focus {
  border: 1px solid #f26b0f;
}

.button {
  padding: 10px 15px;
  font-size: 17px;
  background-color: #fcc737;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px 0 10px 130px;
}

.select {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
}

.select > label {
  font-size: 17px;
  margin-bottom: 7px;
}

.select > select {
  font-size: 16px;
  padding: 5px;
  border: 1px solid #fcc737;
  outline: none;
  border-radius: 10px;
  transition: 0.6s;
}

.select > select:focus {
  font-size: 16px;
  padding: 5px;
  border: 1px solid #f26b0f;
  outline: none;
}

.select > select > option {
 
 
  border: 1px solid #ccc;
  background-color: white;

}
