.cardTitle {
  font-size: 24px;
  font-weight: bold;
  color: #2b2a29;
  margin-bottom: 10px;
}

.span1 {
  color: #fd7e14;
  font-size: larger;
}
.span2 {
  color: #2b2a29;
  font-size: larger;
}

.card {
  padding: 30px;
  background-color: #fff;
  text-align: center;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 400px; 
  min-width: 250px;
  width: 100%; 
  max-width: 250px; 
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.6s;
  margin: 20px;
}

.card:hover {
  transform: scale(1.1);
}

.adiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.a1 {
  color: #fd7e14;
  transition: 0.6s;
  font-weight: 600;
  font-size: 19px;
}

.adiv2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 90px;
}

.a1:hover {
  color: #2b2a29;
}

.a2 {
  color: #2b2a29;
  transition: 0.6s;
  font-weight: 600;
  font-size: 19px;
}

.a2:hover {
  color: #fd7e14;
}

.otherdiv {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
}

.img {
  width: 90%;
  height: 50%;
  vertical-align: middle;
  max-height: 70%;
}

.topHDiv {
  width: 100%;
  background-color: #fd7e14;
  position: relative;
  padding: 10px 0;
}
.topH {
  font-size: 50px;
  font-weight: 600;
  color: #f1f1f1;
  margin-left: 40%;
}

.selectDiv{
  margin-left: 40px;

  width: 300px;
}

.selectDiv > label{
  color: #f1f1f1;
  margin: 5px;
}

.selectDiv > select{
  outline: none;
  border-radius: 5px;
  padding: 7px 5px;
}

.icons{
  display: block;
  
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 250px;
}

.icon{
  font-size: 50px;
  color: #f1f1f1;
  background-color: #2b2a29;
  padding: 15px;
  cursor: pointer;
  transition: .6s;
  border-radius: 5px;
}

.icon:hover{
  background-color: #fd7e14;
}