.title{
  font-size: 50px;
  margin-left: 35%;
  margin-bottom: 200px;
}

.userCard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    background-color: #FBF5DD;
    border: 1px solid #1f1f1f;
    padding: 3px;
    width: 50%;
    gap: 100px;
    margin-bottom: 20px;
    margin-left: 15%;
  }

  
.userCardTop {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  background-color: #E7D283;
  border: 1px solid #1f1f1f;
  padding: 3px;
  width: 50%;
  gap: 100px;
  margin-bottom: 0px;
  margin-left: 15%;
  border-bottom: none;
}
 
  .userCard > h1 {
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0;
  }

.deleteBut{
  background-color: #E52020;
  padding: 5px 15px;
  font-size: 19px;
  border-radius: 5px;
  position: absolute;
  top: 30%;
  right: 30%;
  color: #f1f1f1;
  transition: .6s;
}

.deleteBut:hover{
  background-color: #A31D1D;
  border-radius: 10px;
}